@media only screen and (min-width: 768px) and (max-width: 1180px){
    .banknote1{
        left: 50%;
        top: 0;
        margin-left: -650px;
    }
    .banknote2{
        left: 50%;
        top: 500px;
        margin-left: -600px;
    }
    .banknote3{
        left: 50%;
        top: 400px;
        margin-left: -1050px;
    }
    .banknote4{
        left: 50%;
        top: 400px;
        margin-left: 150px;
    }
    .banknote5{
        left: 50%;
        top: 190px;
        margin-left: 400px;
    }
    .banknote6{
        left: 50%;
        top: 590px;
        margin-left: 440px;
    }
    .banknote7{
        left: 50%;
        top: -200px;
        margin-left: -30px;
    }
    .caption, .to-next, .txt {
        opacity: 1;
        top: 0px;
    }
    .caption{
        margin: 75px 0 0 0;
        font-size: 70px;
    }
    .to-next{
        margin-top: 99px;
    }
    #step-2 {
        position: relative;
        top: 0;
        height: 785px;
        padding-top: 95px;
    }
    #step-2 .step-number{
        margin-top: 23px;
    }
    #step-2 .ttl-1, #step-2 .txt-1,
    .scr2 .ttl-2, .scr2 .txt-2,
    .scr3 .ttl-3, .scr3 .txt-3{
        display: block !important;
        opacity: 1 !important;
        top: 0 !important;
    }
    .scr3 .ttl-3{
        width: 480px;
        margin: 0 auto;
        margin-top: 35px;
    }
    .scr2 .txt-2,
    .scr3 .txt-3{
        margin-top: 26px;
        font-size: 18px;
    }
    #step-2 .fon-coin{
        top: 62px;
    }
    .scr2 .fon-coin{
        box-shadow: none;
    }
    .scr2 .slider{
        padding-top: 71px;
    }
    .scr2 .b-info{
        height: 258px;
    }
    .scr3 .b-info{
        height: 258px;
    }
    #step-2 .ttl-1{
        margin-top: 37px;
        margin-bottom: 0;
    }
    #step-2 .txt-1{
        margin-top: 26px;
    }
    #empty-block{
        display: none;
    }
    .svg-path-brush{
        display: none;
    }
    .toolbar {
        left: -90px;
        top: -30px;
        opacity: 1;
    }
    #img-brush {
        position: absolute;
        display: block;
        width: 50px;
        height: 50px;
        top: 220px;
        left: 180px;
    }
    .fon-coin-768{
        background: url('../img/fon-coin768.png') 1px 1px no-repeat;
    }
    .b-info {
        height: 199px;
    }
    #step-2.scr2{
        padding-top: 0;
    }
    .scr2 .ttl{
        margin-top: 39px;
    }
    .scr2 .txt-2{
        margin-top: 26px;
    }
    .scr2 .step-number{
        margin-top: 11px;
    }
    .helper{
        display: none !important;
    }
    .scr2{
        display: block;
        height: 712px !important;
    }
    .scr2 .b-info{
        height: 256px;
    }
    .scr2 .toolbar,
    .scr2 .resize-element,
    .scr2 #img-brush{
        display: none;
    }

    .scr2 .left-coin,
    .scr2 .img-signature,
    .scr3 .left-coin,
    .scr3 .img-signature{
        opacity: 1;
    }
    .scr2 .label-detail1,
    .scr2 .label-detail2,
    .scr2 .label-detail3,
    .scr2 .label-detail4,
    .scr2 .label-detail5,
    .scr2 .label-detail6{
        opacity: 1;
        background: transparent;
    }
    .scr2 .label-detail2,
    .scr2 .label-detail3,
    .scr2 .label-detail4,
    .scr2 .label-detail5{
        left: -45px;
        margin-top: -10px;
    }
    .scr2 .label-detail6{
        right: -100px;
        margin-top: -10px;
    }
    .scr2 .label-detail2 span,
    .scr2 .label-detail3 span,
    .scr2 .label-detail4 span,
    .scr2 .label-detail5 span{
        width: 110px;
        right: initial;
        left: 0;
        top: 17px
    }
    .scr2 .label-detail6 span{
        right: 0;
        left: inherit;
        width: 110px;
        top: 17px;
    }
    .scr2 .label-detail1{
        height: 35px;
    }
    .scr2 .fon-coin-768,
    .scr3 .fon-coin-768{
        background: url('../img/fon-coin.png') no-repeat;
    }
    .scr3 .slick-list{
        padding-top: 18px !important;
    }
    .scr3 .toolbar,
    .scr3 .resize-element,
    .scr3 #img-brush{
        opacity: 0;
    }
    .scr3 .slick-list{
        margin-top: 54px;
    }
    .scr3{
        display: block;
        height: 902px !important;
        padding-top: 71px;
    }
    .scr3 .slick-cloned,
    .scr3 .example-coin,
    .scr3 .coin-info,
    .scr3 .slick-dots{
        opacity: 1;
    }
    .scr3 .slick-dots {
        bottom: 2px;
    }
    .scr3 .fon-coin {
        box-shadow: none;
    }
    .step3 {
        padding-top: 18px;
    }
    .artcoin-prop{
        opacity: 1;
        width: 49%;
        top: 0;
    }
    .step4 {
        padding-top: 73px;
    }
    .send-mail {
        width: 710px;
    }
    .send-mail .ttl{
        font-size: 47px;
    }
    .send-mail .txt {
        font-size: 30px;
    }
    .nav-tab, .menu-close{
        display: none;
    }
    .svg-container{
        height: 0;
        overflow: hidden;
    }
   .container-banknote{
       overflow: hidden;
       width: 100%;
       height: 911px;
       position: absolute;
   }
    .slick-list {
        padding-top: 6px !important;
        height: 420px;
    }
    .step3 .ttl {
        margin-bottom: 17px;
    }
    .nominal,
    .word_artcoin,
    .name-autor,
    .iq-code,
    .serial-number{
        opacity: 1;
    }








}